In [26]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, classification_report, precision_recall_curve
from sklearn.svm import SVC
import numpy as np

In [28]:
# Load the CSV from current directory
cuisines_df = pd.read_csv("cuisines.csv")
print(cuisines_df.head())

   Unnamed: 0 cuisine  almond  angelica  anise  anise_seed  apple  \
0          65  indian       0         0      0           0      0
1          66  indian       1         0      0           0      0
2          67  indian       0         0      0           0      0
3          68  indian       0         0      0           0      0
4          69  indian       0         0      0           0      0

   apple_brandy  apricot  armagnac  ...  whiskey  white_bread  white_wine  \
0             0        0         0  ...        0            0           0
1             0        0         0  ...        0            0           0
2             0        0         0  ...        0            0           0
3             0        0         0  ...        0            0           0
4             0        0         0  ...        0            0           0

   whole_grain_wheat_flour  wine  wood  yam  yeast  yogurt  zucchini
0                        0     0     0    0      0       0         0
1                        0     0     0    0      0       0         0
2                        0     0     0    0      0       0         0
3                        0     0     0    0      0       0         0
4                        0     0     0    0      0       1         0

[5 rows x 385 columns]

In [30]:
# Extract labels
cuisines_label_df = cuisines_df['cuisine']
print(cuisines_label_df.head())

0    indian
1    indian
2    indian
3    indian
4    indian
Name: cuisine, dtype: object

In [32]:
# Extract features
cuisines_feature_df = cuisines_df.drop(['Unnamed: 0', 'cuisine'], axis=1)
print(cuisines_feature_df.head())

   almond  angelica  anise  anise_seed  apple  apple_brandy  apricot  \
0       0         0      0           0      0             0        0
1       1         0      0           0      0             0        0
2       0         0      0           0      0             0        0
3       0         0      0           0      0             0        0
4       0         0      0           0      0             0        0

   armagnac  artemisia  artichoke  ...  whiskey  white_bread  white_wine  \
0         0          0          0  ...        0            0           0
1         0          0          0  ...        0            0           0
2         0          0          0  ...        0            0           0
3         0          0          0  ...        0            0           0
4         0          0          0  ...        0            0           0

   whole_grain_wheat_flour  wine  wood  yam  yeast  yogurt  zucchini
0                        0     0     0    0      0       0         0
1                        0     0     0    0      0       0         0
2                        0     0     0    0      0       0         0
3                        0     0     0    0      0       0         0
4                        0     0     0    0      0       1         0

[5 rows x 383 columns]