In [5]:
import pandas as pd

# Load the dataset
df = pd.read_csv("Hotel_Reviews.csv")

# Drop latitude and longitude columns
df.drop(columns=["lat", "lng"], inplace=True)

# Function to replace hotel addresses with just 'City, Country'
def replace_address(row):
    if "Netherlands" in row["Hotel_Address"]:
        return "Amsterdam, Netherlands"
    elif "Barcelona" in row["Hotel_Address"]:
        return "Barcelona, Spain"
    elif "United Kingdom" in row["Hotel_Address"]:
        return "London, United Kingdom"
    elif "Milan" in row["Hotel_Address"]:
        return "Milan, Italy"
    elif "France" in row["Hotel_Address"]:
        return "Paris, France"
    elif "Vienna" in row["Hotel_Address"]:
        return "Vienna, Austria"
    else:
        return row["Hotel_Address"]

# Apply address replacement
df["Hotel_Address"] = df.apply(replace_address, axis=1)

# Drop 'Additional_Number_of_Scoring'
df.drop(["Additional_Number_of_Scoring"], axis=1, inplace=True)

# Replace 'Total_Number_of_Reviews' with count per hotel
df["Total_Number_of_Reviews"] = df.groupby("Hotel_Name")["Reviewer_Score"].transform("count")

# Replace 'Average_Score' with mean Reviewer_Score per hotel, rounded to 1 decimal
df["Average_Score"] = df.groupby("Hotel_Name")["Reviewer_Score"].transform("mean").round(1)

# Optional: Print the result of groupby to verify
result = df.groupby("Hotel_Address")["Hotel_Name"].nunique().reset_index()
result.columns = ["Hotel_Address", "Hotel_Name"]
print(result.to_string(index=False))

         Hotel_Address  Hotel_Name
Amsterdam, Netherlands         105
      Barcelona, Spain         211
London, United Kingdom         400
          Milan, Italy         162
         Paris, France         458
       Vienna, Austria         158